.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    color: #1877f2;
    margin-left: 20px;
}

.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
}

.topbarLinks{
    display: flex;
}

.topbarLink{
    color: #757a84;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

.topbarIcons{
    display: flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    color: black;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbarCenter{
    flex: 5;
}

.searchBar{
    width: 100%;
    height: 30px;
    border-radius: 30px;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
}

.searchIcon{
    margin-left: 10px;
    font-size: 20px !important;
    color: #757a84
}

.searchInput{
    border: none;
    background-color: #f0f2f5;
    width: 70%;
}

.searchInput:focus{
    outline: none;
}


.topbarLeft{
    flex: 3;
}

.topbarImgs{
    cursor: pointer;
}

.topbarImg{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    object-fit: cover;
    position: relative;
}
.topbarImgContent{
    font-size: 1rem !important;
    color: black;
    background-color: #f0f2f5;
    padding: 0 2px;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 35px;
    padding: 0;
}

